<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Index</title>
</head>
<body>
    <header>
        <div id="Header">
            <h1>My Personal Porfolio</h1>
        </div>
    </header>
    <main>
        <p>Hello Everyone</p>
        <p>
            My name is David Hausmann. I come from a wide variations of service industry styled jobs and am trying to switch industries into Software Development/Engineering.
        </p>
        <p>
            Originally I was interested in Event Production and managing the production of concerts, dance recitals, broadway shows, Etc.
        </p>
        <p>
            During/After attending College I started working in the food industry, beginning my trek to become a bartender. 
        </p>
        
    </main>
    <footer>

    </footer>
</body>
</html>