<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
        <div class="menu-header">
            <h1>David Hausmann's Portfolio</h1>
        </div>
        <div>
            <div class="menu">
                <a href="https://docs.google.com/document/d/1ZstJzARzA15QVGF6R5JpJCEVOWWvlU9EhCBB0IDZUfU/edit?usp=sharing">Technical Resume</a>
                <a href="https://docs.google.com/document/d/1trM40o7qPJduaaWT9f9UKWJjxz24cHLKOHqMjK0LSnU/edit?usp=sharing">Service Resume</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </div>
    {% endblock menu %}
</body>