<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_style.css') }}">
    <title>Project List</title>
</head>
<body>

    <header>
        
        {% block menu %} {% include 'menu.html' %} {% endblock menu %}
    </header>
    
    <main>
        <div class="body-container">
            <div class="menu">
                <a href="/" id="homelink">Main Index</a>
                <a href="https://www.linkedin.com/in/david-hausmann-b2637aa4/">LinkedIn</a>
                <a href="https://github.com/Clovs247">GitHub</a>
                <a href="/skills">Jobs/Skills</a>
            </div>
            <div class="main-body">
                <h1>List of Projects</h1>
                <div>
                    <h4>Splat-Hub</h4>
                    <a href="http://54.225.30.124/">Link</a>
                    <p>Description of the Project</p>
                </div>
                <div>
                    <h4>Okee Family</h4>
                    <a href="http://54.160.156.219/">Link</a>
                    <p>Description of the Project</p>
                </div>
                <div>
                    <h4>Hometown Losers - Another Ghost</h4>
                    <a href="https://www.youtube.com/watch?v=aexPEgLj9JA">Link</a>
                    <p>My friend, Anthony DeCario was hired to film the music video to a music group called Hometown Losers. And I was hired as a set builder for the multide of shots throughout the music video.</p>
                </div>
            </div>
            <div class="second-column">
                
            </div>
        </div>


    </main>

    <footer>

    </footer>
</body>
</html>
