<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_me_style.css') }}">
    <title>Jobs/Skills</title>
</head>
<body>

    <header>
        
        {% block menu %} {% include 'menu.html' %} {% endblock menu %}
    </header>
    
    <main>
        <div class="body-container">
            <div class="main-body">
                <h2>Hello Everyone</h2>
                <p>My name is David Hausmann.</p>
                <img src="{{ url_for('static',filename='img/DavidHausmannProfilePic.JPG') }}" alt="David Hausmann's Profile Picture" id="profilePic">
                <p>I come from a wide variety of service industry styled jobs and am trying to switch industries into Software Development/Engineering.</p>
                <p>I'm an extremely hard working employee on any job I've been given.</p>
            </div>
            <div class="second-column">
                
            </div>
        </div>


    </main>

    <footer>

    </footer>
</body>
</html>