<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skill_style.css') }}">
    <title>Jobs/Skills</title>
</head>
<body>

    <header>
        
        {% block menu %} {% include 'menu.html' %} {% endblock menu %}
    </header>
    
    <main>
        <div class="body-container">
            <div class="main-body">
                
            </div>
            <div class="second-column">
                
            </div>
        </div>


    </main>

    <footer>

    </footer>
</body>
</html>