<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skill_style.css') }}">
    <title>Job/Skill List</title>
</head>
<body>

    <header>
        
        {% block menu %} {% include 'menu.html' %} {% endblock menu %}
    </header>
    
    <main>
        <div class="body-container">
            <div class="menu">
                <a href="/" class="custom-button-menu menu-links">Home</a>
                <a href="/projects" class="custom-button-menu menu-links">Projects</a>
                <a href="/skills" class="custom-button-menu menu-links">Jobs/Skills</a>
                <div class="img_buttons">
                    <a href="https://www.linkedin.com/in/david-hausmann-b2637aa4/" class="custom-button-menu">
                        <img src="{{ url_for('static', filename='img/LinkedIn_logo_initials.png') }}" alt="LinkedIn Logo" class="img_link">
                    </a>
                    <a href="https://github.com/Clovs247" class="custom-button-menu">
                        <img src="{{ url_for('static', filename='img/GitHub_Logo.png') }}" alt="GitHub Logo" class="img_link">
                    </a>
                </div>
            </div>
            <div class="main-body">
                <h2>List of Jobs/Skills</h2>
                    <p>Server</p>
                    <p>Busser</p>
                    <p>Barback</p>
                    <p>Bartender</p>
                    <p>GAV</p>
                    <p>Stagehand</p>
                    <p>Stage Manager</p>
                    <p>Rigger</p>
                    <p>Carpenter</p>
                    <p>Landscaper</p>
                    <p>Fencer</p>
                    <p>Set Designer</p>
            </div>
            <div class="second-column">
                <h3>Resumes</h3>
                <a href="https://docs.google.com/document/d/1ZstJzARzA15QVGF6R5JpJCEVOWWvlU9EhCBB0IDZUfU/edit?usp=sharing" class="custom-button-menu">Technical Resume</a>
                <a href="https://docs.google.com/document/d/1trM40o7qPJduaaWT9f9UKWJjxz24cHLKOHqMjK0LSnU/edit?usp=sharing" class="custom-button-menu">Service Resume</a>
            </div>
        </div>


    </main>

    <footer>
        <div id="footer">
            <p>Author: David Hausmann</p>
            <p>Contact: davidhausmann42@gmail.com</p>
        </div>
    </footer>
</body>
</html>