<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skill_style.css') }}">
    <title>Jobs/Skills</title>
</head>
<body>

    <header>
        
        {% block menu %} {% include 'skill_menu.html' %} {% endblock menu %}
    </header>
    
    <main>
        <div class="body-container">
            <div class="menu">
                <a href="/" id="homelink">Main Index</a>
                <a href="https://www.linkedin.com/in/david-hausmann-b2637aa4/">LinkedIn</a>
                <a href="https://github.com/Clovs247">GitHub</a>
                <a href="#">Projects</a>
            </div>
            <div class="main-body">
                <h2>List of Jobs/Skills</h2>
                    <p>Server</p>
                    <p>Busser</p>
                    <p>Barback</p>
                    <p>Bartender</p>
                    <p>GAV Stagehand</p>
                    <p>Stage Manager</p>
                    <p>Rigger</p>
                    <p>Carpenter</p>
                    <p>Landscaper</p>
                    <p>Fencer</p>
                    <p>Set Designer</p>
            </div>
            <div class="second-column">
                <h3>Resumes</h3>
                <a href="https://docs.google.com/document/d/1ZstJzARzA15QVGF6R5JpJCEVOWWvlU9EhCBB0IDZUfU/edit?usp=sharing">Technical Resume</a>
                <a href="https://docs.google.com/document/d/1trM40o7qPJduaaWT9f9UKWJjxz24cHLKOHqMjK0LSnU/edit?usp=sharing">Service Resume</a>
            </div>
        </div>


    </main>

    <footer>

    </footer>
</body>
</html>